<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Suit Wibu</title>
        <link rel="stylesheet" href="../styles/style.css"
    </head>
    <body>
        <h6>Suit Wibu</h6>

    <div class="container">
        <div class="comp-area">
            <img src="../images/playerwin.jpg" class="img-komputer">
        </div>
        <div class="info"></div>
        <div class="player-area">
            <ul>
                <li>
                    <img src="../images/batu.jfif" class="batu">
                </li>
                <li>
                    <img src="../images/gunting.jfif" class="gunting">
                </li>
                <li>
                    <img src="../images/kertas.jfif" class="kertas">
                </li>
                <br><br><br><br>
                <a href="https://instagram.com/mahadindra"> <img src="../images/instagram.jpg"></a>
                <p>Mahadi Indra</p>
            </ul>
        </div>
    </div>
    <script src="../scripts/script.js"></script>
    </body>
</html>